.footer {
	background-color: #1a1b1c;
	padding: 50px 80px;
	clear: both;
	.logo-footer{
		img{
			width: 150px;
		}
	}
	.footer-link{
		h5{
			font-family: $font-JosefinSansBold;
			font-size: $size18;
			color: #fff;
			margin-bottom: 20px;
		}
		ul {
			li{
				padding-bottom: 15px;
				a,a:hover{
					font-family: $font-JosefinSansRegular;
					font-size: $size16;
					color: #fff;
					opacity: 0.6;
					text-decoration: none;
					cursor: pointer;
				}

			}
		}
	}
	.sociallink {
		ul{
			li{
				display: inline-block;
				margin-right: 25px;
			}
		}
	}
}
.footer-copyright{
	background-color: #151617;
	clear: both;
	padding: 20px 80px;
	p{
		font-family: JosefinSansRegular;
		font-size: 14px;
		color: #fff;
		opacity: 0.6;
		margin-bottom: 0px;
		position: relative;
		top: -6px;
	}
}