#banner-section{
	background: url("../images/banner/banner.png");
	background-size: cover;
	width: 100%;
	height: 700px;
	position: relative;

	/*header*/
	.navbar-align{
		background-color: transparent;
		border-bottom: none;
		padding: 0px 60px;
		margin-top: 10px;


		.navbar-brand {
			padding: 15px 0px;
			margin-left: 0px;
		}

		.navbar-right{
			margin-top: 23px;
		}

		.navbar-right li{
			margin-left: 20px;
		}

		.navbar-right li a{
			color: #fff;
			font-family:$font-JosefinSansRegular;
			font-size: $size14;
			padding: 8px 25px;
			position: relative;
			top: 3px;
		}
		.navright-btn{
			position: relative;
			top: -2px;
		}
		.navright-btn li{
			border: 2px solid #fff;
			border-radius: 4px;
		}
	}

	.banner-notes{

		position: absolute;
		top: 230px;
		left: 76px;

		h5{
			font-family:$font-JosefinSansBold;
			font-size: 68px;
			color: #fff;
			line-height: 80px;
			margin-bottom: 20px;
			position: relative;
			left: -5px;
			
		}
		ul{
			li{
				display: inline-block;
				margin-right: 10px;
			}
		}
	}
	.banner-showcase{
		img{
			position: absolute;
			right: 42px;
			bottom: 55px;
			width: 62%;
		}
	}
}
#nav-below{
	position: absolute;
	top: 90px;
	right: 315px;
	ul{
		li{
			display: inline-block;
			margin-left: 40px;
			a,a:hover{
				font-family:$font-JosefinSansRegular;
				font-size: $size14;
				color: #fff;
				text-decoration: none;
			}
		}
	}
}
.header-align{
	background-color: #fff !important;
	margin-top: 0px !important;
	height: 80px;
	border-bottom: 1px solid #f7f7f7 !important;
}
.active-border{
	border: 2px solid #05be97 !important;
}
.active-color{
	color:#05be97 !important;
}
/*animation*/
.slideup {
	animation-name:slideup;
	animation-duration: 2s;
	animation-timing-function: ease; 
}
.slidedown {
	animation-name:slidedown;
	animation-duration: 2s;
	animation-timing-function: ease; 
}
@keyframes slideup {
	0% { 
		transform: translate(0px,50px);
		opacity: 0.5; 
	}
	100% { 
		transform: translate(0px,0px);
		opacity: 1; 
	}
}

@keyframes slidedown {
	0% { 
		transform: translate(0px,-100px);
	}
	100% { 
		transform: translate(0px,0px);
	}
}