/*font area*/
$font-JosefinSansBold: JosefinSansBold;
$font-JosefinSansRegular: JosefinSansRegular;
$font-RubikRegular: RubikRegular;

/*fontize*/
$size12 : 12px;
$size14 : 14px;
$size16 : 16px;
$size18 : 18px;

/*common css*/
.pad0{
	padding: 0px;
}

#how-it-works{

	padding: 0px 60px;
	margin: 0px auto;
	padding-bottom: 80px;
	position: relative;
	.work-banner{
		position: absolute;
		bottom: 0px;
		right: 0px;
	}
	.work-circle{
		position: absolute;
		width: 100%;
		bottom: 0px;
		overflow: hidden;
		img{
			margin: 0 auto;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}
	.works-heading{
		position: relative;

		h5{
			font-family:$font-JosefinSansBold;
			font-size: 60px;
			position: relative;
			left: 10px;
			margin-bottom: 60px;
		}
		label{
			display: inline-block;
			height: 4px;
			width: 60px;
			background-color: #369674;
			position: absolute;
			top: 23px;
		}
	}
	video{
		width: 90%;
		box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.04);
	}
	.video-elboration{
		p{
			font-family:$font-JosefinSansRegular;
			font-size: 13px;
			line-height: 24px;
			color: #5c5c5c;
			margin-top: 10px;
		}
	}
	.work-process{
		margin-bottom: 30px;
	}
}
#benefits-visirx{
	overflow: hidden;
	background: url("../images/benefits/benefits-bg.png");
	background-size: cover;
	width: 100%;
	height: 500px;
	position: relative;
	padding: 0px 60px;

	h5{
		font-family:$font-JosefinSansBold;
		font-size: 60px;
		position: relative;
		left: 10px;
		color: #fff;
		padding-top: 70px;
		padding-bottom: 20px;
		z-index: 99;
	}
	label{
		display: inline-block;
		height: 6px;
		width: 60px;
		background-color: #369674;
		position: absolute;
		top: 104px;
		z-index: 9;
	}
	.benifts-desc{
		p{
			font-family: $font-JosefinSansRegular;
			font-size: $size16;
			color: #fff;
			line-height: 24px;
		}
	}
	.benefits-polygon{
		position: absolute;
		top: -180px;
		left: 20%;

		.hex {
			cursor: pointer;
			fill-opacity: 0.4;
		}

		#color-fill .hex {
			fill: #ffff00;
		}
		.hex:hover {
			fill-opacity: 1;
			stroke: #05be97;
			stroke-width: 4;
			transform: scale(0.95);
			-webkit-transform: scale(0.95);
			transform-origin: 50% 50%;
			-webkit-transform-origin: 50% 50%;
		}
		.hex.active{
			fill-opacity: 1;
			stroke: #05be97;
			stroke-width: 4;
			transform: scale(0.95);
			-webkit-transform: scale(0.95);
			transform-origin: 50% 50%;
			-webkit-transform-origin: 50% 50%;
		}
		.hex {
			transition: transform, fill-opacity, stroke-width;
			-webkit-transition: transform, fill-opacity, stroke-width;
			transition-duration: 1s;
			-webkit-transition-duration: 1s;
		}
		.layer1 svg{
			position: relative;
			left: 75px;
			bottom: -45px;
			z-index: 999;
		}
		.layer3 svg{
			position: relative;
			left: 78px;
			top: -40px;
		}
	}
	.mob-benefit{
		display: none;
	}
	.arrow-section{
		display: none;
		position: absolute;
		right: 85px;
		bottom: 0px;
		z-index: 99;
		ul {
			margin-bottom: 0px;
			li{
				padding: 15px;
				background-color: #fff;
				display: inline-block;
				cursor: pointer;
				margin-left: -4px;

				img{
					cursor: pointer;
				}
			}
		}
	}
}
.arrow-section ul li.left-arrow:hover,.arrow-section ul li.right-arrow:hover{
	background-color:#f1efef !important;
}
#visirx-value-section{
	overflow: hidden;
	.value-patient-img {
		img{
			position: absolute;
			height: 450px;
			width: 100%;
		}
	}
	.value-doctr-img{
		img{
			position: absolute;
			height: 460px;
			width: 100%;
			left: 0;
			top: 0;
			bottom: 0;
		}
	}
	h5{
		padding: 0px;
		font-family:$font-JosefinSansBold;
		font-size: 60px;
		position: relative;
		left: 60px;
		color: #000;
		padding-top: 70px;
		padding-bottom: 20px;
		z-index: 99;
	}
	label{
		display: inline-block;
		height: 6px;
		width: 60px;
		background-color: #369674;
		position: absolute;
		top: 103px;
		z-index: 9;
		left: 60px;
	}
	.value-doctor{
		margin-bottom: 50px;
		.works-heading{
			h5{
				padding-left: 50px;
				display: inline-block;
			}
			label{
				left: 100px;
			}
		}
		.value-desc{
			padding-left: 110px;
		}
	}
	.value-desc {
		padding: 0px 60px;
		ul{
			li{
				padding-bottom: 30px;

				label{
					width: 10px;
					height: 10px;
					display: inline-block;
					background-color: #369674;
					border-radius: 50%;
					position: relative;
					top: -17px;
					left: 0px;
				}
				span{
					font-family: $font-JosefinSansRegular;
					font-size: $size16;
					color: #000;
					line-height: 24px;
					width: 90%;
					display: inline-block;
				}
			}
			
		}
	}
}
