@media only screen and (min-width:1024px) and (max-width:1200px) {
    #visirx-value-section{
        .works-heading{
            h5{
                font-size: 50px;
            }
        }
        .value-patient{
            .value-desc{
                ul{
                    li{
                        span{
                            width: 90%;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .value-doctor{
            .value-desc {
                ul{
                    li{
                        span{
                            width: 90%;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (min-width:991px) and (max-width:1260px) {
    #benefits-visirx .benefits-polygon .layer1 svg {
        left: 50px;
        bottom: -42px;
    }
    #benefits-visirx .benefits-polygon .layer3 svg {
        left: 53px;
        top: -40px;
    }
    #benefits-visirx .benefits-polygon {
        top: -140px;
        left: 20%;
    }
}   
@media only screen and (min-width:991px) and (max-width:1024px) {
    #nav-below{
        display: none;
    }
    #banner-section{
        .navbar-align {
            .navbar-right {
                li{
                    margin-left: 10px;   
                }
            }
        }
        .banner-showcase {
            img{
                position: absolute;
                right: 20px;
                bottom: 85px;
                width: 52%;
            }
        }
    }
    #visirx-value-section{
        .works-heading{
            h5{
                font-size: 40px;
            }
            label{
                top: 94px;
            }
        }
        .value-doctr-img{
            display: none;
        }
        .value-doctor{
            background-color: #f6f6f6;
        }
        .value-patient{
            .value-desc{
                ul{
                    margin-bottom: 0px;
                    li{
                        span{
                            width: 100%;
                            font-size: 14px;
                        }
                        label{
                            top: 26px;
                            left: -18px;
                        }
                    }
                }
            }
        }
        .value-doctor{
            margin-bottom: 0px;
            .value-desc {
                padding-left: 60px;
                ul{
                    margin-bottom: 0px;
                    li{
                        span{
                            width: 100%;
                            font-size: 14px;
                        }
                        label{
                            top: 26px;
                            left: -18px;
                        }
                    }
                }
            }
            .works-heading {
                h5 {
                    padding-left: 20px;
                    margin-top: 0px;
                    padding-top: 80px;
                }
                label{
                    left: 60px;
                }

            }
        }
    }
}
@media only screen and (min-width:768px) and (max-width:991px) {
    #visirx-value-section{
        .value-desc{
            ul{
                li{
                    span{
                        width: 70%;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width:420px) and (max-width:640px) {
    #benefits-visirx{
        .works-heading{
            h5{
                font-size: 40px;
            }
            label{
                top:94px;
            }
        }
    }
    #visirx-value-section {
        .value-desc{
         ul{
            li{
                span{
                    font-size: 14px;
                }
            }
        }
    }
    .value-doctor {
        .works-heading {
            label{
               top: 91px !important;
           }
       }
   }
   .works-heading{
    h5{
        font-size: 40px;
    }
    label{
        top:84px !important;
    }
}
}
}   
@media only screen and (max-width:991px) {
    .navbar-collapse.collapse{
      display: none!important;
      height: 0!important;
      padding-bottom: 0;
      overflow: hidden!important;
  }
  .navbar-toggle.collapsed{
    display:block!important;    
}
.navbar-toggle{
    display:block!important;    
}
.navbar-collapse.collapse.in{
    display:block!important;    
    height:auto!important;
    overflow:visible!important;
}
.navbar-nav>li,.navbar-header{
    float:none; 
}
.nav-collapse-align ul{
    width: 100%;
}
#nav-below,.banner-showcase,.benefits-polygon,.value-doctr-img{
    display: none;
}
#banner-section .navbar-align {
    padding: 0px;
}
.navbar-header {
    padding: 11px 45px;
}
.navbar-toggle{
    margin-right: 0px;
}
.navbar-align.navbar-default .navbar-toggle {
    border-color: transparent;
    border: none;
}
.navbar-align .navbar-toggle .icon-bar {
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 0px;
    background-color: #fff;
}
.navbar-align.navbar-default .navbar-toggle:focus, .navbar-align.navbar-default .navbar-toggle:hover{
    background-color: transparent;
    border: none;
}
.navbar-align.navbar-default .navbar-collapse, .navbar-align.navbar-default .navbar-form{
    border: none;
}
#banner-section .navbar-align .navbar-brand {
    padding: 10px 0px;
}
.navbar-brand>img {
    width: 85px;
}
#banner-section .navbar-align .navbar-right{
    float: none !important;
    background-color: #fff;
    margin-top: 0px;    
}
#banner-section .navbar-align .navbar-right li a {
    color: #636161;
    margin-top: 0px;
}
#banner-section .navbar-align .navright-btn {
    position: relative;
    top: -8px;
}
.mpad0,.mmpad0{
    padding: 0px;
}
#how-it-works{
    padding: 0px 45px;
    video{
        width: 100%;
    }
    .video-elboration{
        margin-top: 40px;
    }
}
#benefits-visirx{
 padding: 0px 35px;
 .dsktp-benefit{
    display: none;
}   
.arrow-section,.mob-benefit{
    display: block;
}
.mob-benefit{
    .benifts-desc{
        img{
            display: block;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
}
}
#banner-section{
    .banner-notes {
        left: 45px;
    }
}
/*value section*/
#visirx-value-section {
    .value-patient{
        h5{
            padding-left:5px;
            padding-top: 70px;
            padding-bottom: 20px;
            left: 20px;
        }
        label {
            width: 60px;
            top: 93px;
            left: 30px;
        }
        .value-desc {
            padding: 0px 20px;
        }
    }
    .value-doctor{
        background-color: #fbfbfb;
        margin-bottom: 0px;
        .works-heading{
            h5{
                padding-left: 20px;
                left: 20px;
            }
            label{
                width: 40px;
                top: 100px;
                left: 30px;
            }
        }
        .value-desc{
            padding-left: 30px;
        }
    }
}
/*footer*/
.footer {
    background-color: #1a1b1c;
    padding: 30px 40px;
    clear: both;
    .logo-footer{
        margin-bottom: 50px;
    }
}

}
@media only screen and (max-width:767px) {
    /*benefits*/
    #benefits-visirx {
        padding: 0px 5px;
    }
    #benefits-visirx .arrow-section {
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: 999;
    }
    #banner-section{ 
        .banner-notes {
            position: absolute;
            top: 180px;
            left: 35px;
        }
    }
    /*how it works*/
    #how-it-works {
        padding: 0px 20px;
        .video-section{
            margin-bottom: 40px;
            video{
                width: 100%;
            }
        }
        .work-process{
            p{
                text-align: left;
                line-height: 20px;
                font-size: 12px;
            }
        }
    }
    /*value section*/
    #visirx-value-section {
        .value-patient{
            h5{
                padding-left:10px;
                padding-top: 70px;
                padding-bottom: 20px;
            }
            label {
                width: 60px;
                top: 93px;
                left: 30px;
            }
            .value-desc {
                padding: 0px 20px;
            }
        }
        .value-doctor{
            background-color: #fbfbfb;
            margin-bottom: 0px;
            .works-heading{
                h5{
                    padding-left: 20px;
                }
                label{
                    width: 40px;
                    top: 91px;
                    left: 30px;
                }
            }
            .value-desc{
                padding-left: 30px;
            }
        }
    }
    /*footer*/
    .footer {
        background-color: #1a1b1c;
        padding: 30px 40px;
        clear: both;
        .logo-footer{
            margin-bottom: 50px;
        }
    }
}
@media only screen and (max-width:420px) {
    /*header*/
    .navbar-header {
        padding: 0px 30px;
    }
    .navbar-align.navbar-default .navbar-toggle{
        margin-right: 0px;
    }
    .navbar-collapse{
        margin-top: 10px;
    }
    /*banner*/
    #banner-section .banner-notes h5 {
        font-size: 48px;
        line-height: 70px;
    }
    #banner-section .banner-notes {
        top: 110px;
        left: 17px;
    }
    #banner-section {
        background: url(../images/banner/banner.png);
        background-size: cover;
        width: 100%;
        height: 480px;
        position: relative;
    }
    .header-align {
        height: 57px;
    }
    /*howit works*/
    #how-it-works {
        padding: 0px 15px;
    }
    #how-it-works .works-heading h5 {
        font-size: 30px;
        margin-bottom: 40px;
    }
    #how-it-works .works-heading label {
        height: 4px;
        width: 30px;
        top: 12px;
    }
    #how-it-works video {
        width: 100%;
    }
    .work-process{
        p{
            text-align: left;
            line-height: 20px;
            font-size: 12px;
        }
    }
    /*benefits*/
    #benefits-visirx h5 {
        font-size: 30px;
        padding-top: 50px;
        padding-bottom: 0px;
    }
    #benefits-visirx {
        padding: 0px 5px;
        max-height: 400px;
    }
    #benefits-visirx label {
        width: 40px;
        top: 70px;
    }
    /*value for patient*/
    #visirx-value-section h5 {
        padding: 0px 0px;
        font-size: 30px;
        padding-top: 50px;
        padding-bottom: 0px;
        label {
            width: 40px;
            top: 59px;
            left: 10px;
        }
    }
    .video-section{
        margin-bottom: 20px;
    }
    #visirx-value-section{
        .value-patient-img img {
            width: 100%;
        }
        .value-doctor{
            background-color: #fbfbfb;
            margin-bottom: 0px;
            .works-heading{
                h5{
                    padding-left: 10px;
                }
                label{
                    width: 40px;
                    top: 70px;
                    left: 20px;
                }
            }
            .value-desc{
                padding-left: 35px;
            }
        }
        .value-patient{
            .works-heading{
                h5{
                    padding-left: 0px;
                    left: 10px;
                }
                label{
                    width: 40px;
                    top: 80px;
                    left: 20px;
                }
            }
        }
        .value-doctr-img{
            display: none;
        }
        .value-desc{
            padding: 10px 10px;
            ul li {
                padding-bottom: 0px;
                label {
                 top: 25px;
                 left: -14px;
             }
             span {
                font-size: 14px;
                line-height: 22px;
                width: 100%;
            }
        }
    }
}
.footer {
    padding: 25px 20px;
    clear: both;
    .logo-footer{
        img{
            width: 90px;
        }
    }
    .footer-link{
        margin-top: 20px;
    }
}
.footer-copyright {
    background-color: #151617;
    clear: both;
    padding: 20px 10px;
}
}


